<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Energia Alphaville</title>
    <link rel="stylesheet" href="/static/css/style_login.css">
</head>
<body>
    <div class="container">
        <h2>Cadastro - Energia Alphaville</h2>
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="Usuário" required><br>
            <input type="password" name="password" placeholder="Senha" required><br>
            <button type="submit">Cadastrar</button>
        </form>
        <a href="/">Já tem conta? Faça login</a>
    </div>
</body>
</html>
